<mat-card>
  <mat-card-title>Kategorie Konfiguration:</mat-card-title>
  <mat-card-subtitle>Name der Kategorie</mat-card-subtitle>
  <mat-chip-list class="mat-chip-list-stacked">
    <mat-chip> Name: Kategorie 1</mat-chip>
    <mat-chip> Budget: 500€</mat-chip>
    <mat-checkbox [disabled]="true">Deaktiviert</mat-checkbox>
  </mat-chip-list>
  <mat-form-field>
    <mat-select [(value)]="selectedType" >
      <mat-option value="einnahmen">Einnahmen</mat-option>
      <mat-option value="ausgaben">Ausgaben</mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <button id="categoryBack" mat-raised-button color="primary" routerLink="././">Zurück</button>
</mat-card>
