<mat-card>
  <h1>Details:</h1>
  <mat-chip-list class="mat-chip-list-stacked">
    <mat-chip selected="true" color="accent"> Bezeichnung: Aldi</mat-chip>
    <mat-chip selected="true" color="accent"> Kategorie: Sonstiges</mat-chip>
    <mat-chip selected="true" color="accent"> Betrag: 50€</mat-chip>
    <mat-chip selected="true" color="accent"> Typ: Einmalig</mat-chip>
    <mat-chip selected="true" color="accent"> Datum: 20.03.2018</mat-chip>

  </mat-chip-list>
  <br>
  <button id="create" mat-raised-button color="primary" routerLink="././">Zurück</button>
</mat-card>

